@tailwind base;
@tailwind components;
@tailwind utilities;


 .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out, border-color 0.3s;
  z-index: 10000;
}


/* Scale effect for hover on interactive elements */
a :hover ~ .cursor {
  transform: translate(-50%, -50%) scale(2);
  background-color: rgba(155, 149, 149, 0.4); /* optional lighter border on hover */
}

/* Optional: Style anchor tags for testing */
a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

body {
  cursor: none;
}

/* Electromagnetic wave animation */
.electro-letter {
  display: inline-block;
}

a:hover .electro-letter {
  animation: electroWave 0.6s ease-in-out;
  animation-fill-mode: both;
}

@keyframes electroWave {
  0%,
  100% {
    transform: translateY(0) scale(1);
    color: inherit;
  }
  25% {
    transform: translateY(-4px) scale(1.1);
    color: #55e6a5; /* Electric blue */
  }
  50% {
    transform: translateY(0) scale(1);
    color: #55e6a5; /* Electric pink */
  }
  75% {
    transform: translateY(4px) scale(1.1);
    color: #55e6a5; /* Electric green */
  }
}
html {
  scroll-behavior: smooth;
}
.navbar{
  z-index: 1000;
}